---
hostname: {{ios_hostname.matches.0}}
{% if ios_net_interfaces is defined and ios_net_interfaces != None %}
### interfaces ###
interfaces:
{% for interfaces in ios_net_interfaces%}
{% if interfaces.name.matches[0] is defined and interfaces.name.matches[0] != None %}
  - interface: {{interfaces.name.matches.0}}
{% endif %}
{% if interfaces.description.matches[0] is defined and interfaces.description.matches[0] != None %}
    description: {{interfaces.description.matches[0] |regex_escape() }}
{% endif %}
{% if interfaces.shutdown.matches[0] is defined and interfaces.shutdown.matches[0] != None %}
    shutdown: yes
{% endif %}
{% if interfaces.dot1x.matches[0] is defined and interfaces.dot1x.matches[0] != None %}
    802.1x: yes
{% endif %}
{% if interfaces.portopen.matches[0] is defined and interfaces.portopen.matches[0] != None %}
    Port_In_Open_State: yes
{% endif %}
{% endfor %}
{% endif %}
